{
  "openapi": "3.0.1",
  "info": {
    "title": "SwipeAPI",
    "version": "2.0",
    "description": "The Swipe Partner API — invoicing, payments, and GST compliance for your application. Create GST invoices and other documents, manage customers, vendors, products and inventory, record payments, and generate e-invoices and e-way bills.\n\n- Docs & guides: https://developers.getswipe.in\n- Quickstart: https://developers.getswipe.in/quickstart\n- Rate limit: 1 request/second per API key\n- All dates are DD-MM-YYYY"
  },
  "servers": [
    {
      "url": "https://app.getswipe.in/api/partner"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/customer": {
      "post": {
        "summary": "Add a customer",
        "operationId": "post_customer",
        "tags": [
          "Customer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Creates a customer keyed by your own `id`. Sending an ID that already exists fails with `CUSTOMER_ALREADY_EXISTS` — use Update a customer to change an existing record. Customers are also created automatically when a document references an unknown `party.id`."
      },
      "put": {
        "summary": "Update a customer",
        "operationId": "put_customer",
        "tags": [
          "Customer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Updates an existing customer's details. Changes propagate to the documents linked to this customer."
      }
    },
    "/v1/customer/ledger": {
      "get": {
        "summary": "Get payment ledger",
        "operationId": "get_customer_ledger",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for the ledger, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "01-01-2024"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for the ledger, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "31-12-2024"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "200": {
            "description": "Payment details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment_GET_Response"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Returns a customer's payment ledger over a required date range — documents, payments, and the running balance."
      }
    },
    "/v1/customer/list": {
      "get": {
        "summary": "Get list of customers",
        "operationId": "get_customer_list",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch (max 100), default : 25 customers will be sent in response",
            "schema": {
              "type": "string",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching Customer List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "200": {
            "description": "Customer List fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomersResponseV1"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Lists your customers with their basic details."
      },
      "post": {
        "summary": "Update customer mapping",
        "operationId": "post_customer_list",
        "tags": [
          "Customer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerMapModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "409": {
            "description": "Error in mapping Customer List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerMapErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "Error in mapping Customer List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Re-links your customer IDs to existing Swipe records in bulk. Use this after changing IDs in your own system, so future calls don't create duplicate customers."
      }
    },
    "/v1/customer/{customer_id}": {
      "get": {
        "summary": "Get a customer",
        "operationId": "get_customer",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The customer ID to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGET_Response"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Returns one customer's details by your `customer_id`."
      },
      "delete": {
        "summary": "Delete a customer",
        "operationId": "delete_customer",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The customer ID to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "400": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Deletes a customer by your `customer_id`. Deleted customers move to the Deleted tab in the dashboard."
      }
    },
    "/v1/doc": {
      "post": {
        "summary": "Create a document",
        "operationId": "post_invoice_resource",
        "tags": [
          "Document"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseDocument"
              },
              "examples": {
                "basic": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "01-04-2024",
                    "customer": {
                      "id": "cus123",
                      "name": "Charan Cus"
                    },
                    "items": [
                      {
                        "id": "p123",
                        "name": "Book",
                        "item_type": "goods",
                        "quantity": 1,
                        "unit_price": 100,
                        "tax_rate": 18,
                        "price_with_tax": 118,
                        "net_amount": 100,
                        "total_amount": 118
                      }
                    ]
                  }
                },
                "advanced": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "11-06-2024",
                    "customer": {
                      "id": "CUST123",
                      "name": "John Doe",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "email": "johndoe@example.com"
                    },
                    "due_date": "11-06-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ITEM123",
                        "name": "Item Name",
                        "quantity": 10,
                        "unit_price": 100,
                        "tax_rate": 18,
                        "cess_rate": 10,
                        "price_with_tax": 128,
                        "tax_amount": 252,
                        "discount_percent": 10,
                        "discount_amount": 100,
                        "net_amount": 900,
                        "total_amount": 1152,
                        "description": "Item Description",
                        "hsn_code": "1234",
                        "item_type": "goods",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "extra_discount": 20,
                    "round_off": 0,
                    "payments": [
                      {
                        "amount": 100,
                        "method": "upi",
                        "notes": "Payment notes"
                      }
                    ],
                    "bank_details": {
                      "account_number": "1234567890",
                      "bank_name": "Example Bank",
                      "branch": "Main Branch",
                      "ifsc": "IFSC0001234"
                    },
                    "company_shipping_address": {
                      "address_line1": "123 Street",
                      "address_line2": "Apt 4B",
                      "city": "City Name",
                      "state": "State Name",
                      "country": "Country Name",
                      "pincode": "123456"
                    },
                    "customer_shipping_address": {
                      "address_line1": "123 Street",
                      "address_line2": "Apt 4B",
                      "city": "City Name",
                      "state": "State Name",
                      "country": "Country Name",
                      "pincode": "123456"
                    }
                  }
                },
                "subscription": {
                  "value": {
                    "document_type": "subscription",
                    "document_date": "11-06-2024",
                    "customer": {
                      "id": "CUST1",
                      "name": "Charan",
                      "country_code": "91",
                      "phone_number": "8768906785",
                      "email": "charanrockstar@gmail.com"
                    },
                    "due_date": "11-06-2024",
                    "reference": "Example Subcsription for API's",
                    "notes": "Example Note",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ITEM123",
                        "name": "Item Name",
                        "quantity": 10,
                        "unit_price": 100,
                        "tax_rate": 18,
                        "cess_rate": 10,
                        "price_with_tax": 128,
                        "tax_amount": 252,
                        "discount_percent": 10,
                        "discount_amount": 100,
                        "net_amount": 900,
                        "total_amount": 1152,
                        "description": "Item Description",
                        "hsn_code": "1234",
                        "item_type": "goods",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "extra_discount": 20,
                    "round_off": 0,
                    "bank_details": {
                      "account_number": "1234567890",
                      "bank_name": "Example Bank",
                      "branch": "Main Branch",
                      "ifsc": "IFSC0001234"
                    },
                    "company_shipping_address": {
                      "address_line1": "123 Street",
                      "address_line2": "Apt 4B",
                      "city": "City Name",
                      "state": "State Name",
                      "country": "Country Name",
                      "pincode": "123456"
                    },
                    "customer_shipping_address": {
                      "address_line1": "C/o Swipe",
                      "address_line2": "Red Steert 40",
                      "city": "Kansar",
                      "state": "Kansar",
                      "country": "India",
                      "pincode": "000007"
                    },
                    "is_subscription": true,
                    "subscription_details": {
                      "start_time": "13-06-2024",
                      "end_time": "14-07-2024",
                      "repeat": 1,
                      "repeat_type": "days",
                      "send_email": true,
                      "send_sms": true
                    }
                  }
                },
                "e-invoice": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "11-06-2024",
                    "customer": {
                      "id": "236",
                      "name": "Vasu",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "email": "johndoe@example.com",
                      "company_name": "Vason Company",
                      "gstin": "36ACZPT7516P1ZA"
                    },
                    "due_date": "11-06-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ac_1.56",
                        "name": "Ac 1.56 Ton 5 Star",
                        "quantity": 1,
                        "unit_price": 100,
                        "tax_rate": 18,
                        "price_with_tax": 118,
                        "tax_amount": 16.2,
                        "discount_percent": 10,
                        "discount_amount": 10,
                        "net_amount": 90,
                        "total_amount": 106.2,
                        "description": "Item Description",
                        "hsn_code": "04022910",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "extra_discount": 20,
                    "round_off": true,
                    "payments": [
                      {
                        "amount": 100,
                        "method": "upi",
                        "notes": "Payment notes"
                      }
                    ],
                    "bank_details": {
                      "account_number": "1234567890",
                      "bank_name": "Example Bank",
                      "branch": "Main Branch",
                      "ifsc": "IFSC0001234"
                    },
                    "company_shipping_address": {
                      "address_line1": "123 Street",
                      "address_line2": "",
                      "city": "Banglore",
                      "state": "KARNATAKA",
                      "country": "India",
                      "pincode": "560001"
                    },
                    "customer_shipping_address": {
                      "address_line1": "5-11, vema street",
                      "address_line2": "",
                      "city": "Hyderabad South East",
                      "state": "TELANGANA",
                      "country": "India",
                      "pincode": "500030"
                    },
                    "customer_billing_address": {
                      "address_line1": "5-11, vema street",
                      "address_line2": "",
                      "city": "Hyderabad",
                      "state": "TELANGANA",
                      "country": "India",
                      "pincode": "500032"
                    },
                    "einvoice": true,
                    "is_export": true,
                    "export_invoice_details": {
                      "shipping_bill_date": "27-08-2024",
                      "shipping_bill_number": "",
                      "shipping_port_code": "",
                      "export_type": "SEZ without IGST Payment",
                      "conversion_factor": 1,
                      "country_id": "India"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Creates a document — an invoice, purchase, estimate, return, delivery challan, or subscription — based on `document_type`. Unknown `party` and `items` IDs are created automatically from the details you send; existing IDs are reused. Returns the document's `hash_id`, which addresses the document in every subsequent call, plus the IRN and QR code when `einvoice` is set. Send your own `serial_number` to make retries safe — a duplicate fails with `DUPLICATE_DOC_SERIAL_NUMBER` instead of creating a second document."
      }
    },
    "/v1/doc/pdf/{doc_hash_id}": {
      "parameters": [
        {
          "name": "doc_hash_id",
          "in": "path",
          "description": "The hash id of the document to be fetched",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get document PDF",
        "operationId": "get_pdf",
        "tags": [
          "Document"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Document Hash ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "File will be downloaded"
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Returns the rendered PDF file for a document. The PDF uses the invoice templates and document settings configured on your Swipe account. Pass `delivery_challan=1` to get a delivery-challan copy instead."
      }
    },
    "/v1/doc/{doc_hash_id}": {
      "parameters": [
        {
          "name": "doc_hash_id",
          "in": "path",
          "description": "The hash id of the document to be cancelled",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cancel_einvoice",
          "in": "query",
          "description": "Set to 1 if you want to cancel a document with e-invoice",
          "schema": {
            "type": "integer",
            "default": 0
          }
        }
      ],
      "delete": {
        "summary": "Cancel a document",
        "operationId": "delete_cancel_invoice",
        "tags": [
          "Document"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Cancels an active document by its `hash_id`. The document remains in your account with a cancelled status."
      }
    },
    "/v1/payment": {
      "post": {
        "summary": "Record payment",
        "operationId": "post_payment",
        "tags": [
          "Payment"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordPayment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentError"
                }
              }
            }
          },
          "400": {
            "description": "Error in recording payment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentError"
                }
              }
            }
          },
          "200": {
            "description": "Payment recorded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Records a payment received from a customer. Optionally settle specific documents by pairing each `hash_id` with an `amount_paying` — partial settlement is supported and the document's payment status tracks what remains. Non-cash payment modes need a bank account configured on your account, otherwise the request fails with `MISSING_BANK_ACCOUNT`. Set `send_sms` or `send_email` to notify the customer."
      }
    },
    "/v1/product": {
      "post": {
        "summary": "Add an item",
        "operationId": "post_product",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Creates an item in your catalog keyed by your own `id`. Sending an ID that already exists fails with `PRODUCT_ALREADY_EXISTS` — use Update an item to change the catalog record. Items are also created automatically when a document references an unknown item `id`."
      },
      "put": {
        "summary": "Update an item",
        "operationId": "put_product",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Updates an item's master record in the catalog. This is the only way to change catalog details — item fields sent inside a document apply to that document only."
      }
    },
    "/v1/product/list": {
      "get": {
        "summary": "Get list of items",
        "operationId": "get_item_list",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch (max 100), default : 25 items will be sent in response",
            "schema": {
              "type": "string",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort the items by: one of name, category, quantity, unit_price, price_with_tax, tax_rate, created_at, updated_at. If omitted, items are returned in creation order.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "category",
                "quantity",
                "unit_price",
                "price_with_tax",
                "tax_rate",
                "created_at",
                "updated_at"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort direction applied when sort_by is set: 'asc' (default) or 'desc'.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching Item List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "200": {
            "description": "Item List fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemsResponseV1"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Lists the items in your catalog."
      },
      "post": {
        "summary": "Update items mapping",
        "operationId": "post_item_list",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItemMapModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "409": {
            "description": "Error in mapping Item List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItemMapErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "Error in mapping Item List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Re-links your item IDs to existing Swipe records in bulk. Use this after changing IDs in your own system, so future calls don't create duplicate items."
      }
    },
    "/v1/product/{item_id}": {
      "get": {
        "summary": "Get item details",
        "operationId": "get_product",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "Item ID to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductGET_Response"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Returns one item's catalog details by your `item_id`."
      },
      "delete": {
        "summary": "Delete an item",
        "operationId": "delete_product",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "400": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Deletes an item by your `item_id`. Deleted items move to the Deleted tab in the dashboard."
      }
    },
    "/v1/subscriptions/list": {
      "get": {
        "summary": "List of subscriptions",
        "operationId": "get_transactions",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for the list, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "01-01-2024"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for the list, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "31-12-2024"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter list based on status of the document",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "active",
                "expired",
                "error",
                "cancelled"
              ],
              "default": "all"
            }
          },
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch (max 100)",
            "schema": {
              "type": "string",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching subscription list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Subscription List fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSubscriptions"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Lists subscriptions within a required date range, filterable by `status` and `customer_id`. Subscriptions are created through Create a document with `document_type=subscription`."
      }
    },
    "/v1/subscriptions/{subscription_hash_id}": {
      "parameters": [
        {
          "name": "subscription_hash_id",
          "in": "path",
          "description": "The hash id of the document",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get subscription details",
        "operationId": "get_subscription",
        "tags": [
          "Subscriptions"
        ],
        "parameters": [
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch(max 100)",
            "schema": {
              "type": "string",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Subscription fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubscriptionInvoices"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Returns one subscription's details, including the invoices generated from it so far."
      }
    },
    "/v1/utils/gstin/{gstin}": {
      "parameters": [
        {
          "name": "gstin",
          "in": "path",
          "description": "GSTIN Number",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get GSTIN details",
        "operationId": "get_utils",
        "tags": [
          "Utility"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSTErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSTErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSTErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GSTResponseModel"
                }
              }
            }
          }
        },
        "description": "**v1 is deprecated — use the v2 endpoint instead.** Looks up a GSTIN on the GST portal and returns the registered business's details. Useful for validating a party's GSTIN and prefilling their name and address."
      }
    },
    "/v2/customer": {
      "post": {
        "summary": "Add a customer",
        "operationId": "post_customer",
        "tags": [
          "Customer V2"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCustomerV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          }
        },
        "description": "Creates a customer keyed by your own `id`. Sending an ID that already exists fails with `CUSTOMER_ALREADY_EXISTS` — use Update a customer to change an existing record. Customers are also created automatically when a document references an unknown `party.id`."
      },
      "put": {
        "summary": "Update a customer",
        "operationId": "put_customer",
        "tags": [
          "Customer V2"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseCustomerV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          }
        },
        "description": "Updates an existing customer's details. Changes propagate to the documents linked to this customer."
      }
    },
    "/v2/customer/ledger": {
      "get": {
        "summary": "Get payment ledger",
        "operationId": "get_customer_ledger",
        "tags": [
          "Customer V2"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for the ledger, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "01-01-2024"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for the ledger, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "31-12-2024"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Payment details fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LedgerDataResponseV2"
                }
              }
            }
          }
        },
        "description": "Returns a customer's payment ledger over a required date range — documents, payments, and the running balance."
      }
    },
    "/v2/customer/list": {
      "get": {
        "summary": "Get list of customers",
        "operationId": "get_customer_list",
        "tags": [
          "Customer V2"
        ],
        "parameters": [
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch(max 100), default : 25 customers will be sent in response",
            "schema": {
              "type": "string",
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching Customer List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Customer List fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGETResponse"
                }
              }
            }
          }
        },
        "description": "Lists your customers with their basic details."
      },
      "post": {
        "summary": "Update customer mapping",
        "operationId": "post_customer_list",
        "tags": [
          "Customer V2"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerMapModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "409": {
            "description": "Error in mapping Customer List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMappingResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Error in mapping Customer List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          }
        },
        "description": "Re-links your customer IDs to existing Swipe records in bulk. Use this after changing IDs in your own system, so future calls don't create duplicate customers."
      }
    },
    "/v2/customer/{customer_id}": {
      "get": {
        "summary": "Get customer details",
        "operationId": "get_customer",
        "tags": [
          "Customer V2"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The customer ID to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDetailsResponseV2"
                }
              }
            }
          }
        },
        "description": "Returns one customer's details by your `customer_id`."
      },
      "delete": {
        "summary": "Delete a customer",
        "operationId": "delete_customer",
        "tags": [
          "Customer V2"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The customer ID to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponseV2"
                }
              }
            }
          }
        },
        "description": "Deletes a customer by your `customer_id`. Deleted customers move to the Deleted tab in the dashboard."
      }
    },
    "/v2/doc": {
      "post": {
        "summary": "Create a document",
        "operationId": "post_invoice_resource",
        "tags": [
          "Document V2"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseDocumentV2"
              },
              "examples": {
                "basic": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "15-11-2024",
                    "due_date": "15-11-2024",
                    "party": {
                      "id": "CUST123",
                      "type": "customer",
                      "name": "John Doe"
                    },
                    "items": [
                      {
                        "id": "ITEM123455667ghg",
                        "name": "Item Namgergggree",
                        "quantity": 1.0,
                        "unit_price": 200.0,
                        "tax_rate": 18.0,
                        "price_with_tax": 236.0,
                        "net_amount": 200.0,
                        "total_amount": 236.0,
                        "item_type": "Product"
                      }
                    ]
                  }
                },
                "advanced": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "15-11-2024",
                    "party": {
                      "id": "CUST123",
                      "type": "customer",
                      "name": "John Doe",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "company_name": "Company Name",
                      "email": "johndoe@example.com",
                      "gstin": "27AARCS7202C1ZD",
                      "shipping_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "123 Street",
                        "address_line2": "Apt 4B",
                        "city": "Hyderabad City",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500032"
                      },
                      "billing_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "123 Street",
                        "address_line2": "Apt 4B",
                        "city": "Hyderabad City",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500032"
                      }
                    },
                    "due_date": "15-11-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ITEM123455667ghg",
                        "name": "Item Namgergggree",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "net_amount": 200,
                        "total_amount": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "description": "Item Description",
                        "hsn_code": "1234",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      },
                      {
                        "id": "ITEM123fgd4vh5",
                        "name": "Item Name12hfdfdf345",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "net_amount": 200,
                        "total_amount": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "description": "Item Description 12345",
                        "hsn_code": "1234",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "payments": [
                      {
                        "amount": 100,
                        "method": "upi",
                        "notes": "Payment notes",
                        "bank_details": {
                          "account_number": "1234567890",
                          "ifsc": "SBIN0000001",
                          "bank_name": "State Bank of India",
                          "branch": "Mumbai"
                        }
                      }
                    ],
                    "company_shipping_address": {
                      "addr_id": 1,
                      "addr_id_v2": "addr1",
                      "address_line1": "123 Street",
                      "address_line2": "Apt 4B",
                      "city": "Hyderabad City",
                      "state": "TELANGANA",
                      "country": "India",
                      "pincode": "500032"
                    },
                    "company_billing_address": {
                      "addr_id": 1,
                      "addr_id_v2": "addr1",
                      "address_line1": "123 Street",
                      "address_line2": "Apt 4B",
                      "city": "Hyderabad City",
                      "state": "TELANGANA",
                      "country": "India",
                      "pincode": "500032"
                    }
                  }
                },
                "einvoice": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "15-11-2024",
                    "party": {
                      "id": "236",
                      "name": "Vasu",
                      "type": "customer",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "email": "johndoe@example.com",
                      "company_name": "Vason Company",
                      "gstin": "36ACZPT7516P1ZA",
                      "shipping_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "5-11, vema street",
                        "address_line2": "",
                        "city": "Hyderabad South East",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500030"
                      },
                      "billing_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "5-11, vema street",
                        "address_line2": "",
                        "city": "Hyderabad",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500032"
                      }
                    },
                    "due_date": "15-11-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ac_1.56",
                        "name": "Ac 1.56 Ton 5 Star",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "net_amount": 200,
                        "total_amount": 236,
                        "description": "Item Description",
                        "hsn_code": "04022910",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "payments": [
                      {
                        "amount": 100.0,
                        "method": "upi",
                        "notes": "Payment notes",
                        "bank_details": {
                          "account_number": "1234567890",
                          "ifsc": "SBIN0000001",
                          "bank_name": "State Bank of India",
                          "branch": "Mumbai"
                        }
                      }
                    ],
                    "einvoice": true
                  }
                },
                "export": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "15-11-2024",
                    "party": {
                      "id": "CUST123",
                      "type": "customer",
                      "name": "John Doe",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "company_name": "Company Name",
                      "email": "johndoe@example.com",
                      "gstin": "27AARCS7202C1ZD",
                      "shipping_address": {
                        "addr_id": 2,
                        "addr_id_v2": "addr1",
                        "address_line1": "123 Street",
                        "address_line2": "Apt 4B",
                        "city": "London",
                        "state": "OTHER TERRITORY",
                        "country": "United Kingdom",
                        "pincode": "788787"
                      },
                      "billing_address": {
                        "addr_id": 2,
                        "addr_id_v2": "addr1",
                        "address_line1": "123 Street",
                        "address_line2": "Apt 4B",
                        "city": "London",
                        "state": "OTHER TERRITORY",
                        "country": "United Kingdom",
                        "pincode": "788787"
                      }
                    },
                    "due_date": "15-11-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ITEM123455667ghg",
                        "name": "Item Namgergggree",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "net_amount": 200,
                        "total_amount": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "description": "Item Description",
                        "hsn_code": "1234",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      },
                      {
                        "id": "ITEM123fgd4vh5",
                        "name": "Item Name12hfdfdf345",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "net_amount": 200,
                        "total_amount": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "description": "Item Description 12345",
                        "hsn_code": "1234",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "payments": [
                      {
                        "amount": 100,
                        "method": "upi",
                        "notes": "Payment notes",
                        "bank_details": {
                          "account_number": "1234567890",
                          "ifsc": "SBIN0000001",
                          "bank_name": "State Bank of India",
                          "branch": "Mumbai"
                        }
                      }
                    ],
                    "is_export": true,
                    "export_invoice_details": {
                      "shipping_bill_date": "27-08-2024",
                      "shipping_bill_number": "",
                      "shipping_port_code": "",
                      "export_type": "SEZ without IGST Payment",
                      "conversion_factor": 1,
                      "country_id": "United Kingdom",
                      "currency_id": "USD"
                    }
                  }
                },
                "convert_document": {
                  "value": {
                    "document_type": "sales_return",
                    "document_date": "15-11-2024",
                    "party": {
                      "id": "236",
                      "name": "Vasu",
                      "type": "customer",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "email": "johndoe@example.com",
                      "company_name": "Vason Company",
                      "gstin": "36ACZPT7516P1ZA",
                      "shipping_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "5-11, vema street",
                        "address_line2": "",
                        "city": "Hyderabad South East",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500030"
                      },
                      "billing_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "5-11, vema street",
                        "address_line2": "",
                        "city": "Hyderabad",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500032"
                      }
                    },
                    "due_date": "15-11-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ac_1.56",
                        "name": "Ac 1.56 Ton 5 Star",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "net_amount": 200,
                        "total_amount": 236,
                        "description": "Item Description",
                        "hsn_code": "04022910",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics"
                      }
                    ],
                    "payments": [
                      {
                        "amount": 100.0,
                        "method": "upi",
                        "notes": "Payment notes",
                        "bank_details": {
                          "account_number": "1234567890",
                          "ifsc": "SBIN0000001",
                          "bank_name": "State Bank of India",
                          "branch": "Mumbai"
                        }
                      }
                    ],
                    "convert": {
                      "convert_from": "invoice",
                      "hash_id": "SLxrwOh7QQnW"
                    }
                  }
                },
                "custom_fields": {
                  "value": {
                    "document_type": "invoice",
                    "document_date": "15-11-2024",
                    "party": {
                      "id": "CUST123",
                      "type": "customer",
                      "name": "John Doe",
                      "country_code": "91",
                      "phone_number": "1234567890",
                      "company_name": "Company Name",
                      "email": "johndoe@example.com",
                      "gstin": "27AARCS7202C1ZD",
                      "shipping_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "123 Street",
                        "address_line2": "Apt 4B",
                        "city": "Hyderabad City",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500032"
                      },
                      "billing_address": {
                        "addr_id": 1,
                        "addr_id_v2": "addr1",
                        "address_line1": "123 Street",
                        "address_line2": "Apt 4B",
                        "city": "Hyderabad City",
                        "state": "TELANGANA",
                        "country": "India",
                        "pincode": "500032"
                      }
                    },
                    "due_date": "15-11-2024",
                    "reference": "Reference Text",
                    "notes": "Notes for the document",
                    "terms": "Terms and Conditions",
                    "items": [
                      {
                        "id": "ITEM123455667ghg",
                        "name": "Item Namgergggree",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "net_amount": 200,
                        "total_amount": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "description": "Item Description",
                        "hsn_code": "1234",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics",
                        "custom_columns": [
                          {
                            "label": "Weight",
                            "value": "1236"
                          }
                        ]
                      },
                      {
                        "id": "ITEM123fgd4vh5",
                        "name": "Item Name12hfdfdf345",
                        "quantity": 1,
                        "unit_price": 200,
                        "tax_rate": 18,
                        "price_with_tax": 236,
                        "net_amount": 200,
                        "total_amount": 236,
                        "discount_percent": 0,
                        "discount_amount": 0,
                        "description": "Item Description 12345",
                        "hsn_code": "1234",
                        "item_type": "Product",
                        "unit": "kg",
                        "category": "Electronics",
                        "custom_columns": [
                          {
                            "label": "abcd",
                            "value": "45"
                          },
                          {
                            "label": "Weight",
                            "value": "1"
                          }
                        ]
                      }
                    ],
                    "payments": [
                      {
                        "amount": 100,
                        "method": "upi",
                        "notes": "Payment notes",
                        "bank_details": {
                          "account_number": "1234567890",
                          "ifsc": "SBIN0000001",
                          "bank_name": "State Bank of India",
                          "branch": "Mumbai"
                        }
                      }
                    ],
                    "custom_headers": [
                      {
                        "label": "JOB DATE",
                        "value": "xchj"
                      },
                      {
                        "label": "MASTER BL NO :",
                        "value": "1"
                      }
                    ]
                  }
                },
                "subscription": {
                  "value": {
                    "document_type": "subscription",
                    "document_date": "15-11-2024",
                    "party": {
                      "id": "CUST123",
                      "type": "customer",
                      "name": "John Doe"
                    },
                    "items": [
                      {
                        "id": "ITEM123",
                        "item_type": "Service",
                        "name": "Monthly Retainer",
                        "quantity": 1,
                        "unit_price": 100.0,
                        "tax_rate": 18.0,
                        "net_amount": 100.0,
                        "price_with_tax": 118.0,
                        "total_amount": 118.0
                      }
                    ],
                    "subscription_details": {
                      "start_time": "01-12-2024",
                      "end_time": "01-12-2025",
                      "repeat": 1,
                      "repeat_type": "months",
                      "send_email": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          }
        },
        "description": "Creates a document — an invoice, purchase, estimate, return, delivery challan, or subscription — based on `document_type`. Unknown `party` and `items` IDs are created automatically from the details you send; existing IDs are reused. Returns the document's `hash_id`, which addresses the document in every subsequent call, plus the IRN and QR code when `einvoice` is set. Send your own `serial_number` to make retries safe — a duplicate fails with `DUPLICATE_DOC_SERIAL_NUMBER` instead of creating a second document."
      }
    },
    "/v2/doc/list": {
      "get": {
        "summary": "List of documents",
        "operationId": "get_transactions",
        "tags": [
          "Document V2"
        ],
        "parameters": [
          {
            "name": "document_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "invoice",
                "purchase",
                "pro_forma_invoice",
                "estimate",
                "sales_return",
                "purchase_return",
                "delivery_challan",
                "purchase_order"
              ],
              "default": "invoice"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start date for the list, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "01-01-2024"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End date for the list, [DD-MM-YYYY]",
            "required": true,
            "schema": {
              "type": "string",
              "default": "31-12-2024"
            }
          },
          {
            "name": "payment_status",
            "in": "query",
            "description": "Filter list based on payment status of the document.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pending",
                "paid",
                "cancelled"
              ],
              "default": "all"
            }
          },
          {
            "name": "num_records",
            "in": "query",
            "description": "Number of records to fetch max(100)",
            "schema": {
              "type": "string",
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Customer ID",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocListErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocListErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error in fetching documents list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocListErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Documents List fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTransactionsV2"
                }
              }
            }
          }
        },
        "description": "Lists documents of one `document_type` within a required date range. Filter by `payment_status` to track pending, partially paid, or fully paid documents."
      }
    },
    "/v2/doc/pdf/{doc_hash_id}": {
      "parameters": [
        {
          "name": "doc_hash_id",
          "in": "path",
          "description": "The hash id of the document to be fetched",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "delivery_challan",
          "in": "query",
          "description": "Set to 1 if you want to get a delivery challan copy of the document",
          "schema": {
            "type": "integer",
            "default": 0
          }
        }
      ],
      "get": {
        "summary": "Get document PDF",
        "operationId": "get_pdf",
        "tags": [
          "Document V2"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Document Hash ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "File will be downloaded"
          }
        },
        "description": "Returns the rendered PDF file for a document. The PDF uses the invoice templates and document settings configured on your Swipe account. Pass `delivery_challan=1` to get a delivery-challan copy instead."
      }
    },
    "/v2/doc/{doc_hash_id}": {
      "get": {
        "summary": "Get a document",
        "operationId": "get_invoice",
        "tags": [
          "Document V2"
        ],
        "parameters": [
          {
            "name": "doc_hash_id",
            "in": "path",
            "description": "The hash id of the document to be fetched",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvoice"
                }
              }
            }
          }
        },
        "description": "Returns the full details of a document by its `hash_id` — party, items, amounts, and status."
      },
      "put": {
        "summary": "Edit a document",
        "operationId": "put_invoice",
        "tags": [
          "Document V2"
        ],
        "parameters": [
          {
            "name": "doc_hash_id",
            "in": "path",
            "description": "The hash ID of the document that needs to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseDocumentEditV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocCreateResponseV2"
                }
              }
            }
          }
        },
        "description": "Replaces the contents of an existing document. Send the complete payload with every field's updated value — this is a full replacement, not a partial update. The document keeps its `hash_id`."
      },
      "delete": {
        "summary": "Cancel a document",
        "operationId": "delete_invoice",
        "tags": [
          "Document V2"
        ],
        "parameters": [
          {
            "name": "doc_hash_id",
            "in": "path",
            "description": "The hash id of the document to be cancelled",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cancel_einvoice",
            "in": "query",
[...]
