openapi: 3.0.1
info:
    title: SwipeAPI
    description: Partner API
    version: '1.0'
servers:
    - url: https://app.getswipe.in/api/partner
security:
    - bearerAuth: []
tags:
    - name: Document
      description: Document related operations
    - name: Customer
      description: Customer related operations
paths:
    /v1/customer:
        put:
            tags:
                - Customer
            summary: Update a customer
            operationId: put_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BaseCustomer'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
            x-codegen-request-body-name: payload
        post:
            tags:
                - Customer
            summary: Add a customer
            operationId: post_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BaseCustomer'
                required: true
            responses:
                '201':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
            x-codegen-request-body-name: payload
    /v1/customer/{customer_id}:
        get:
            tags:
                - Customer
            summary: Get a customer
            operationId: get_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GET_Response'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '404':
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
        delete:
            tags:
                - Customer
            summary: Delete a customer
            operationId: delete_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be deleted
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
    /v1/doc/:
        post:
            tags:
                - Document
            summary: Create a document
            operationId: post_invoice_resource
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BaseDocument'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
                '400':
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '500':
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
            x-codegen-request-body-name: payload
    /v1/doc/pdf/{doc_hash_id}:
        get:
            tags:
                - Document
            summary: Get document PDF
            operationId: get_pdf
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: File will be downloaded
                    content: {}
                '400':
                    description: Invalid Document Hash ID
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '500':
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
components:
    schemas:
        Error:
            type: object
            properties:
                success:
                    type: boolean
                    example: false
                    default: false
                message:
                    type: string
                    description: Error message
                    example: Some error occurred
        BaseDocument:
            required:
                - customers
                - document_date
                - document_type
                - items
                - net_amount
                - tax_amount
                - total_amount
            type: object
            properties:
                document_type:
                    type: string
                    description: Value should always be the string 'invoice'
                    example: invoice
                    enum:
                        - invoice
                document_date:
                    type: string
                    description: Invoice date (Need not to the current date)
                    example: 11-06-2024
                customers:
                    type: array
                    description: Customers
                    items:
                        $ref: '#/components/schemas/Customer'
                due_date:
                    type: string
                    description: Payment Due date for the invoice
                    example: 11-06-2024
                reference:
                    type: string
                    description: Any references you want to add to the doc
                    example: Reference Text
                notes:
                    type: string
                    description: Notes to show in invoice
                    example: Notes for the document
                terms:
                    type: string
                    description: Terms to show in invoice
                    example: Terms and Conditions
                items:
                    type: array
                    description: 'Array of Products/Services, refer Item Object below for parameters'
                    items:
                        $ref: '#/components/schemas/Item'
                net_amount:
                    type: number
                    description: Sum of Net amounts of all Items
                    example: 1000.0
                tax_amount:
                    type: number
                    description: Total Tax Amount
                    example: 180.0
                items_discount:
                    type: number
                    description: Sum of discounts of all items
                    example: 50.0
                extra_discount:
                    type: number
                    description: 'Adjustment on overall invoice, doesn’t effect any tax amounts.'
                    example: 20.0
                total_amount:
                    type: number
                    description: Final invoice amount
                    example: 1180.0
                round_off:
                    type: number
                    description: Round Off amount
                    example: 0.0
                payment:
                    type: array
                    description: 'Array of Payments, refer Payment Object  for parameters'
                    items:
                        $ref: '#/components/schemas/Payment'
                cess_amount:
                    type: number
                    description: CESS amount value
                    example: 0.0
                cess_on_quantity:
                    type: number
                    description: CESS on Quantity amount value
                    example: 0.0
                company_shipping_address:
                    type: object
                    description:
                        "Company shipping from Address, refer Shipping Address Object\
                        \ for parameters"
                    allOf:
                        - $ref: '#/components/schemas/ShippingAddress'
                customer_shipping_address:
                    type: object
                    description:
                        "Customer shipping to Address, refer Shipping Address Object\
                        \ for parameters"
                    allOf:
                        - $ref: '#/components/schemas/ShippingAddress'
                signature:
                    type: string
                    description: Invoice signature image URL
                    example: https://example.com/signature.jpg
        Customer:
            required:
                - id
                - name
            type: object
            properties:
                id:
                    type: string
                    description:
                        "Unique id for each customer. If a new id  is sent, a new Customer\
                        \ with the below details will be automatically created. \n           \
                        \                                           If existing Customer id is\
                        \ sent the details will not override the original customer details. \n\
                        \                                                      They will be applicable\
                        \ only to the current invoice"
                    example: CUST123
                name:
                    type: string
                    description: Name of the Customer
                    example: John Doe
                country_code:
                    type: string
                    description: Customer Phone Number Country code
                    example: '91'
                phone_number:
                    type: string
                    description: Customer Phone Number
                    example: '1234567890'
                email:
                    type: string
                    description: Customer Email
                    example: johndoe@example.com
        Item:
            required:
                - id
                - item_type
                - name
                - net_amount
                - price_with_tax
                - quantity
                - tax_amount
                - tax_rate
                - total_amount
                - unit_price
            type: object
            properties:
                id:
                    type: string
                    description:
                        "Unique id for each item. If a new id  is sent, a new Item\
                        \ with the below details will be automatically created. if existing Item\
                        \ id is sent the details will not override the original item details.\
                        \ They will be applicable only to the current invoice"
                    example: ITEM123
                name:
                    type: string
                    description: Name of the Product
                    example: Item Name
                quantity:
                    type: number
                    description: Quantity
                    example: 1.0
                unit_price:
                    type: number
                    description: Price per item without Tax
                    example: 100.0
                tax_rate:
                    type: number
                    description: Tax percentage for each item
                    example: 18.0
                tax_amount:
                    type: number
                    description: Item Taxable amount (after discount)
                    example: 18.0
                price_with_tax:
                    type: number
                    description: Price per item with Tax
                    example: 118.0
                net_amount:
                    type: number
                    description: Net Amount
                    example: 100.0
                total_amount:
                    type: number
                    description: Item total amount (Net Amount + Tax)
                    example: 118.0
                discount_amount:
                    type: number
                    description: Discount Amount
                    example: 10.0
                discount_percent:
                    type: number
                    description: Discount Percent
                    example: 10.0
                description:
                    type: string
                    description: Item Description
                    example: Item Description
                hsn_code:
                    type: string
                    description: HSN Code
                    example: '1234'
                item_type:
                    type: string
                    description: Goods or Services enum
                    example: goods
                    enum:
                        - goods
                        - service
                unit:
                    type: string
                    description: item quantity unit
                    example: kg
                    enum:
                        - kg
                        - g
                        - l
                        - ml
                        - m
                        - cm
                        - sqm
                        - sqcm
                        - sqft
                        - sqkm
                        - unit
                cess_amount:
                    type: number
                    description: Cess Amount
                    example: 0.0
                cess_on_quantity:
                    type: number
                    description: Additional CESS
                    example: 0.0
                category:
                    type: string
                    description: Category
                    example: Electronics
        Payment:
            required:
                - amount
                - method
            type: object
            properties:
                amount:
                    type: number
                    description: Payment Amount
                    example: 100.0
                method:
                    type: string
                    description: 'Payment method, use only specified values'
                    example: upi
                    enum:
                        - cash
                        - card
                        - upi
                        - netBanking
                        - check
                        - emi
                notes:
                    type: string
                    description: Any internal notes for payment
                    example: Payment notes
        ShippingAddress:
            required:
                - address_line1
                - address_line2
                - city
                - country
                - pincode
                - state
            type: object
            properties:
                address_line1:
                    type: string
                    description: Address Line 1
                    example: 123 Street
                address_line2:
                    type: string
                    description: Address Line 2
                    example: Apt 4B
                city:
                    type: string
                    description: City
                    example: City Name
                state:
                    type: string
                    description: State
                    example: State Name
                country:
                    type: string
                    description: Country
                    example: Country Name
                pincode:
                    type: string
                    description: Pincode
                    example: '123456'
        SuccessResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success
                    example: true
                message:
                    type: string
                    description: Message
                    example: Document created successfully
                serialNumber:
                    type: string
                    description: Serial Number
                    example: SL123
                hashId:
                    type: string
                    description: Hash ID
                    example: SL123
        BaseCustomer:
            required:
                - name
            type: object
            properties:
                customer_id:
                    type: string
                    description: Customer ID
                    example: '123'
                name:
                    type: string
                    description: Customer name
                    example: TATA RATAN
                phone:
                    type: integer
                    description: Phone number
                    example: 1234567890
                email:
                    type: string
                    description: Email address
                    example: reddi@reddi.reddi
                discount:
                    type: integer
                    description: Discount
                    example: 10
                gstin:
                    pattern: '^(|[0-9A-Z]{15})$'
                    type: string
                    description: GSTIN
                    example: 27AARCS7202C1ZD
                company_name:
                    type: string
                    description: Company name
                    example: GSTN
                opening_balance:
                    type: string
                    description: Opening balance
                    example: '1245'
                credit_limit:
                    type: integer
                    description: Credit limit
                    example: 200
                billing_address:
                    type: array
                    description: List of billing addresses
                    items:
                        $ref: '#/components/schemas/Address'
                shipping_address:
                    type: array
                    description: List of shipping addresses
                    items:
                        $ref: '#/components/schemas/Address'
                opening_balance_type:
                    type: integer
                    description: 'Credit[0] / Debit[1]'
                    example: 1
                dial_code:
                    type: string
                    description: Dial code
                    example: '91'
                profile_image:
                    type: string
                    description: Profile image URL
                    example: ''
                pan:
                    type: string
                    description: PAN
                    example: ABCD1234F
                is_tcs:
                    type: boolean
                    description: Indicates whether TCS is applicable
                    example: true
                tcs_section_id:
                    type: integer
                    description: TCS section ID
                    example: 42
                price_list_id:
                    type: integer
                    description: Price list ID
                    example: 23
                notes:
                    type: string
                    description: Notes
                    example: Testing api
                tags:
                    type: array
                    description: List of tags
                    items:
                        $ref: '#/components/schemas/Tag'
                cc_emails:
                    type: string
                    description: CC email addresses
                    example: 'reddi@reddi.reddi,acb.a@bcd.con'
                export_customer:
                    type: integer
                    description: Export customer
                    example: 0
        Address:
            type: object
            properties:
                line1:
                    type: string
                    description: Address line 1
                    example: ''
                line2:
                    type: string
                    description: Address line 2
                    example: ''
                pincode:
                    type: integer
                    description: Pincode
                    example: 0
                city:
                    type: string
                    description: City
                    example: ''
                state1:
                    type: string
                    description: State code
                    example: ''
                state:
                    type: string
                    description: State code
                    example: ''
                is_edit:
                    type: boolean
                    description: Indicates whether the address is editable
                    example: false
                addr_id:
                    type: integer
                    description: Address ID
                    example: 0
        Tag:
            type: object
            properties:
                tag_name:
                    type: string
                    description: Tag name
                    example: immediate
                id:
                    type: integer
                    description: Tag ID
                    example: 6
        CustomerError:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: false
                message:
                    type: string
                    description: Response message
                    example: Error Message
                errors:
                    type: object
                    properties: {}
                    description: Validation errors
                    example:
                        name: Invalid name.
        GET_Response:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                customer_details:
                    $ref: '#/components/schemas/BaseCustomer'
        CustomerResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                message:
                    type: string
                    description: Response message
                    example: Customer added successfully
    responses:
        ParseError:
            description: When a mask can't be parsed
            content: {}
        MaskError:
            description: When any error occurs on mask
            content: {}
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
x-original-swagger-version: '2.0'
