openapi: 3.0.1
info:
    title: SwipeAPI
    description: Partner API
    version: "2.0"
servers:
    - url: https://app.getswipe.in/api/partner
security:
    - bearerAuth: []
tags:
    - name: Document
      description: Document related operations
    - name: Customer
      description: Customer related operations
    - name: Payment
      description: Payment related operations
    - name: Product
      description: Product related operations
    - name: Utility
      description: Generic operations
    - name: Subscriptions
      description: Subscriptions related operations
    - name: Document V2
      description: Document related operations
    - name: Customer V2
      description: Customer related operations
    - name: Payment V2
      description: Payment related operations
    - name: Product V2
      description: Product related operations
    - name: Subscriptions V2
      description: Subscriptions related operations
    - name: Utility V2
      description: Generic operations
    - name: Vendor V2
      description: Vendor related operations
    - name: EwayBill
      description: EwayBill related operations
paths:
    /v1/customer:
        put:
            tags:
                - Customer
            summary: Update a customer
            operationId: put_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseCustomer"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponse"
                "400":
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
            x-codegen-request-body-name: payload
        post:
            tags:
                - Customer
            summary: Add a customer
            operationId: post_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseCustomer"
                required: true
            responses:
                "201":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponse"
                "400":
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
            x-codegen-request-body-name: payload
    /v1/customer/ledger:
        get:
            tags:
                - Customer
            summary: Get payment ledger
            operationId: get_customer_ledger
            parameters:
                - name: start_date
                  in: query
                  description: "Start date for the ledger, [DD-MM-YYYY]"
                  required: true
                  schema:
                      type: string
                      default: 01-01-2024
                - name: end_date
                  in: query
                  description: "End date for the ledger, [DD-MM-YYYY]"
                  required: true
                  schema:
                      type: string
                      default: 31-12-2024
                - name: customer_id
                  in: query
                  description: Customer ID
                  required: true
                  schema:
                      type: string
                - name: num_records
                  in: query
                  description: Number of records to fetch
                  schema:
                      type: integer
                      default: 10
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Payment details fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Payment_GET_Response"
                "400":
                    description: Error in fetching payment details
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
    /v1/customer/list:
        get:
            tags:
                - Customer
            summary: Get list of customers
            operationId: get_customer_list
            parameters:
                - name: num_records
                  in: query
                  description:
                      "Number of records to fetch, default : all customers will be\
                      \ sent in response"
                  schema:
                      type: integer
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Customer List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListGETResponse"
                "400":
                    description: Error in fetching Customer List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
        post:
            tags:
                - Customer
            summary: Update customer mapping
            operationId: post_customer_list
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ListCustomerMapModel"
                required: true
            responses:
                "200":
                    description: Updated successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponse"
                "400":
                    description: Error in mapping Customer List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "409":
                    description: Error in mapping Customer List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListCustomerMapErrorModel"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
            x-codegen-request-body-name: payload
    /v1/customer/{customer_id}:
        get:
            tags:
                - Customer
            summary: Get a customer
            operationId: get_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerGET_Response"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "404":
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
        delete:
            tags:
                - Customer
            summary: Delete a customer
            operationId: delete_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be deleted
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponse"
                "400":
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerError"
    /v1/doc:
        post:
            tags:
                - Document
            summary: Create a document
            operationId: post_invoice_resource
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseDocument"
                        examples:
                            basic:
                                value:
                                    document_type: invoice
                                    document_date: "01-04-2024"
                                    customer:
                                        id: cus123
                                        name: Charan Cus
                                    items:
                                        - id: p123
                                          name: Book
                                          item_type: goods
                                          quantity: 1
                                          unit_price: 100
                                          tax_rate: 18
                                          price_with_tax: 118
                                          net_amount: 100
                                          total_amount: 118
                            advanced:
                                value:
                                    document_type: invoice
                                    document_date: "11-06-2024"
                                    customer:
                                        id: CUST123
                                        name: John Doe
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        email: johndoe@example.com
                                    due_date: "11-06-2024"
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123
                                          name: Item Name
                                          quantity: 10
                                          unit_price: 100
                                          tax_rate: 18
                                          cess_rate: 10
                                          price_with_tax: 128
                                          tax_amount: 252
                                          discount_percent: 10
                                          discount_amount: 100
                                          net_amount: 900
                                          total_amount: 1152
                                          description: Item Description
                                          hsn_code: "1234"
                                          item_type: goods
                                          unit: kg
                                          category: Electronics
                                    extra_discount: 20
                                    round_off: 0
                                    payments:
                                        - amount: 100
                                          method: upi
                                          notes: Payment notes
                                    bank_details:
                                        account_number: "1234567890"
                                        bank_name: Example Bank
                                        branch: Main Branch
                                        ifsc: IFSC0001234
                                    company_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: City Name
                                        state: State Name
                                        country: Country Name
                                        pincode: "123456"
                                    customer_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: City Name
                                        state: State Name
                                        country: Country Name
                                        pincode: "123456"
                            subscription:
                                value:
                                    document_type: subscription
                                    document_date: 11-06-2024
                                    customer:
                                        id: CUST1
                                        name: Charan
                                        country_code: "91"
                                        phone_number: "8768906785"
                                        email: charanrockstar@gmail.com
                                    due_date: 11-06-2024
                                    reference: Example Subcsription for API's
                                    notes: Example Note
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123
                                          name: Item Name
                                          quantity: 10
                                          unit_price: 100
                                          tax_rate: 18
                                          cess_rate: 10
                                          price_with_tax: 128
                                          tax_amount: 252
                                          discount_percent: 10
                                          discount_amount: 100
                                          net_amount: 900
                                          total_amount: 1152
                                          description: Item Description
                                          hsn_code: "1234"
                                          item_type: goods
                                          unit: kg
                                          category: Electronics
                                    extra_discount: 20
                                    round_off: 0
                                    bank_details:
                                        account_number: "1234567890"
                                        bank_name: Example Bank
                                        branch: Main Branch
                                        ifsc: IFSC0001234
                                    company_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: City Name
                                        state: State Name
                                        country: Country Name
                                        pincode: "123456"
                                    customer_shipping_address:
                                        address_line1: C/o Swipe
                                        address_line2: Red Steert 40
                                        city: Kansar
                                        state: Kansar
                                        country: India
                                        pincode: "000007"
                                    is_subscription: true
                                    subscription_details:
                                        start_time: 13-06-2024
                                        end_time: 14-07-2024
                                        repeat: 1
                                        repeat_type: days
                                        send_email: true
                                        send_sms: true
                            e-invoice:
                                value:
                                    document_type: invoice
                                    document_date: 11-06-2024
                                    customer:
                                        id: "236"
                                        name: Vasu
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        email: johndoe@example.com
                                        company_name: Vason Company
                                        gstin: 36ACZPT7516P1ZA
                                    due_date: 11-06-2024
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ac_1.56
                                          name: Ac 1.56 Ton 5 Star
                                          quantity: 1
                                          unit_price: 100
                                          tax_rate: 18
                                          price_with_tax: 118
                                          tax_amount: 16.2
                                          discount_percent: 10
                                          discount_amount: 10
                                          net_amount: 90
                                          total_amount: 106.2
                                          description: Item Description
                                          hsn_code: "04022910"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                    extra_discount: 20
                                    round_off: true
                                    payments:
                                        - amount: 100
                                          method: upi
                                          notes: Payment notes
                                    bank_details:
                                        account_number: "1234567890"
                                        bank_name: Example Bank
                                        branch: Main Branch
                                        ifsc: IFSC0001234
                                    company_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: ""
                                        city: Banglore
                                        state: KARNATAKA
                                        country: India
                                        pincode: "560001"
                                    customer_shipping_address:
                                        address_line1: 5-11, vema street
                                        address_line2: ""
                                        city: Hyderabad South East
                                        state: TELANGANA
                                        country: India
                                        pincode: "500030"
                                    customer_billing_address:
                                        address_line1: 5-11, vema street
                                        address_line2: ""
                                        city: Hyderabad
                                        state: TELANGANA
                                        country: India
                                        pincode: "500032"
                                    einvoice: true
                                    is_export: true
                                    export_invoice_details:
                                        shipping_bill_date: 27-08-2024
                                        shipping_bill_number: ""
                                        shipping_port_code: ""
                                        export_type: SEZ without IGST Payment
                                        conversion_factor: 1
                                        country_id: India
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SuccessResponse"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            x-codegen-request-body-name: payload
    /v1/doc/pdf/{doc_hash_id}:
        get:
            tags:
                - Document
            summary: Get document PDF
            operationId: get_pdf
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: File will be downloaded
                    content: {}
                "400":
                    description: Invalid Document Hash ID
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/doc/{doc_hash_id}:
        delete:
            tags:
                - Document
            summary: Cancel a document
            operationId: delete_cancel_invoice
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be cancelled
                  required: true
                  schema:
                      type: string
                - name: cancel_einvoice
                  in: query
                  description: Set to 1 if you want to cancel a document with e-invoice
                  schema:
                      type: integer
                      default: 0
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SuccessResponse"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /v1/payment:
        post:
            tags:
                - Payment
            summary: Record payment
            operationId: post_payment
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RecordPayment"
                required: true
            responses:
                "200":
                    description: Payment recorded successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentResponse"
                "400":
                    description: Error in recording payment
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentError"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentError"
            x-codegen-request-body-name: payload
    /v1/product:
        put:
            tags:
                - Product
            summary: Update an Item
            operationId: put_product
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Item"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductResponse"
                "400":
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
            x-codegen-request-body-name: payload
        post:
            tags:
                - Product
            summary: Add an Item
            operationId: post_product
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Item"
                required: true
            responses:
                "201":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductResponse"
                "400":
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
            x-codegen-request-body-name: payload
    /v1/product/list:
        get:
            tags:
                - Product
            summary: Get list of items
            operationId: get_item_list
            parameters:
                - name: num_records
                  in: query
                  description:
                      "Number of records to fetch, default : all items will be sent\
                      \ in response"
                  schema:
                      type: integer
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Item List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListGETResponse"
                "400":
                    description: Error in fetching Item List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
        post:
            tags:
                - Product
            summary: Update items mapping
            operationId: post_item_list
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ListItemMapModel"
                required: true
            responses:
                "200":
                    description: Updated successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductResponse"
                "400":
                    description: Error in mapping Item List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "409":
                    description: Error in mapping Item List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListItemMapErrorModel"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
            x-codegen-request-body-name: payload
    /v1/product/{item_id}:
        get:
            tags:
                - Product
            summary: Get Item Details
            operationId: get_product
            parameters:
                - name: item_id
                  in: path
                  description: Item ID to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductGET_Response"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "404":
                    description: Item not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
        delete:
            tags:
                - Product
            summary: Delete an Item
            operationId: delete_product
            parameters:
                - name: item_id
                  in: path
                  description: The item ID to be deleted
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductResponse"
                "400":
                    description: Item not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductError"
    /v1/subscriptions/list:
        get:
            tags:
                - Subscriptions
            summary: List of Subscriptions
            operationId: get_transactions
            parameters:
                - name: start_date
                  in: query
                  description: "Start date for the list, [DD-MM-YYY]"
                  required: true
                  schema:
                      type: string
                      default: 01-01-2024
                - name: end_date
                  in: query
                  description: "End date for the list, [DD-MM-YYY]"
                  required: true
                  schema:
                      type: string
                      default: 31-12-2024
                - name: status
                  in: query
                  description: Filter list based on status of the document
                  schema:
                      type: string
                      default: all
                      enum:
                          - all
                          - active
                          - expired
                          - error
                          - cancelled
                - name: num_records
                  in: query
                  description: Number of records to fetch
                  schema:
                      type: string
                      default: "10"
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
                - name: customer_id
                  in: query
                  description: Customer ID
                  schema:
                      type: string
            responses:
                "200":
                    description: Subscription List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListSubscriptions"
                "400":
                    description: Error in fetching subscription list
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
    /v1/subscriptions/{subscription_hash_id}:
        get:
            tags:
                - Subscriptions
            summary: Get subscription details
            operationId: get_subscription
            parameters:
                - name: subscription_hash_id
                  in: path
                  description: The hash id of the document
                  required: true
                  schema:
                      type: string
                - name: num_records
                  in: query
                  description: Number of records to fetch
                  schema:
                      type: string
                      default: "10"
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Subscription fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GetSubscriptionInvoices"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
                "404":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SubscriptionErrorResponse"
    /v1/utils/gstin/{gstin}:
        get:
            tags:
                - Utility
            operationId: get_utils
            parameters:
                - name: gstin
                  in: path
                  description: GSTIN Number
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GSTResponseModel"
                "400":
                    description: error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GSTErrorModel"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GSTErrorModel"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GSTErrorModel"
    /v2/customer:
        put:
            tags:
                - Customer V2
            summary: Update a customer
            operationId: v2_put_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseCustomerV2"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "400":
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
            x-codegen-request-body-name: payload
        post:
            tags:
                - Customer V2
            summary: Add a customer
            operationId: v2_post_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseCustomerV2"
                required: true
            responses:
                "201":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "400":
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
            x-codegen-request-body-name: payload
    /v2/customer/ledger:
        get:
            tags:
                - Customer V2
            summary: Get payment ledger
            operationId: v2_get_customer_ledger
            parameters:
                - name: start_date
                  in: query
                  description: "Start date for the ledger, [DD-MM-YYYY]"
                  required: true
                  schema:
                      type: string
                      default: 01-01-2024
                - name: end_date
                  in: query
                  description: "End date for the ledger, [DD-MM-YYYY]"
                  required: true
                  schema:
                      type: string
                      default: 31-12-2024
                - name: customer_id
                  in: query
                  description: Customer ID
                  required: true
                  schema:
                      type: string
                - name: num_records
                  in: query
                  description: Number of records to fetch
                  schema:
                      type: integer
                      default: 10
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Payment details fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/LedgerDataResponseV2"
                "400":
                    description: Error in fetching payment details
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
    /v2/customer/list:
        get:
            tags:
                - Customer V2
            summary: Get list of customers
            operationId: v2_get_customer_list
            parameters:
                - name: num_records
                  in: query
                  description:
                      "Number of records to fetch, default : all customers will be\
                      \ sent in response"
                  schema:
                      type: integer
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Customer List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListGETResponse"
                "400":
                    description: Error in fetching Customer List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
        post:
            tags:
                - Customer V2
            summary: Update customer mapping
            operationId: v2_post_customer_list
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ListCustomerMapModel"
                required: true
            responses:
                "200":
                    description: Updated successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "400":
                    description: Error in mapping Customer List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "409":
                    description: Error in mapping Customer List
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerMappingResponseV2"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
            x-codegen-request-body-name: payload
    /v2/customer/{customer_id}:
        get:
            tags:
                - Customer V2
            summary: Get Customer Details
            operationId: v2_get_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "404":
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
        delete:
            tags:
                - Customer V2
            summary: Delete a customer
            operationId: v2_delete_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be deleted
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "400":
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CustomerResponseV2"
    /v2/doc:
        post:
            tags:
                - Document V2
            summary: Create a document
            operationId: v2_post_invoice_resource
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseDocumentV2"
                        examples:
                            basic:
                                value:
                                    document_type: invoice
                                    document_date: "15-11-2024"
                                    due_date: "15-11-2024"
                                    party:
                                        id: CUST123
                                        type: customer
                                        name: John Doe
                                    items:
                                        - id: ITEM123455667ghg
                                          name: Item Namgergggree
                                          quantity: 1.0
                                          unit_price: 200.0
                                          tax_rate: 18.0
                                          price_with_tax: 236.0
                                          net_amount: 200.0
                                          total_amount: 236.0
                                          item_type: Product
                            advanced:
                                value:
                                    document_type: invoice
                                    document_date: "15-11-2024"
                                    party:
                                        id: CUST123
                                        type: customer
                                        name: John Doe
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        company_name: Company Name
                                        email: johndoe@example.com
                                        gstin: 27AARCS7202C1ZD
                                        shipping_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 123 Street
                                            address_line2: Apt 4B
                                            city: Hyderabad City
                                            state: TELANGANA
                                            country: India
                                            pincode: "500032"
                                        billing_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 123 Street
                                            address_line2: Apt 4B
                                            city: Hyderabad City
                                            state: TELANGANA
                                            country: India
                                            pincode: "500032"
                                    due_date: "15-11-2024"
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123455667ghg
                                          name: Item Namgergggree
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          net_amount: 200
                                          total_amount: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          description: Item Description
                                          hsn_code: "1234"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                        - id: ITEM123fgd4vh5
                                          name: Item Name12hfdfdf345
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          net_amount: 200
                                          total_amount: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          description: Item Description 12345
                                          hsn_code: "1234"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                    payments:
                                        - amount: 100
                                          method: upi
                                          notes: Payment notes
                                          bank_details:
                                              account_number: "1234567890"
                                              ifsc: SBIN0000001
                                              bank_name: State Bank of India
                                              branch: Mumbai
                                    company_shipping_address:
                                        addr_id: 1
                                        addr_id_v2: addr1
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: Hyderabad City
                                        state: TELANGANA
                                        country: India
                                        pincode: "500032"
                                    company_billing_address:
                                        addr_id: 1
                                        addr_id_v2: addr1
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: Hyderabad City
                                        state: TELANGANA
                                        country: India
                                        pincode: "500032"
                            einvoice:
                                value:
                                    document_type: invoice
                                    document_date: "15-11-2024"
                                    party:
                                        id: "236"
                                        name: Vasu
                                        type: customer
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        email: johndoe@example.com
                                        company_name: Vason Company
                                        gstin: 36ACZPT7516P1ZA
                                        shipping_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 5-11, vema street
                                            address_line2: ""
                                            city: Hyderabad South East
                                            state: TELANGANA
                                            country: India
                                            pincode: "500030"
                                        billing_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 5-11, vema street
                                            address_line2: ""
                                            city: Hyderabad
                                            state: TELANGANA
                                            country: India
                                            pincode: "500032"
                                    due_date: "15-11-2024"
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ac_1.56
                                          name: Ac 1.56 Ton 5 Star
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          net_amount: 200
                                          total_amount: 236
                                          description: Item Description
                                          hsn_code: "04022910"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                    payments:
                                        - amount: 100.0
                                          method: upi
                                          notes: Payment notes
                                          bank_details:
                                              account_number: "1234567890"
                                              ifsc: SBIN0000001
                                              bank_name: State Bank of India
                                              branch: Mumbai
                                    einvoice: true
                            export:
                                value:
                                    document_type: invoice
                                    document_date: "15-11-2024"
                                    party:
                                        id: CUST123
                                        type: customer
                                        name: John Doe
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        company_name: Company Name
                                        email: johndoe@example.com
                                        gstin: 27AARCS7202C1ZD
                                        shipping_address:
                                            addr_id: 2
                                            addr_id_v2: addr1
                                            address_line1: 123 Street
                                            address_line2: Apt 4B
                                            city: London
                                            state: OTHER TERRITORY
                                            country: United Kingdom
                                            pincode: "788787"
                                        billing_address:
                                            addr_id: 2
                                            addr_id_v2: addr1
                                            address_line1: 123 Street
                                            address_line2: Apt 4B
                                            city: London
                                            state: OTHER TERRITORY
                                            country: United Kingdom
                                            pincode: "788787"
                                    due_date: "15-11-2024"
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123455667ghg
                                          name: Item Namgergggree
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          net_amount: 200
                                          total_amount: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          description: Item Description
                                          hsn_code: "1234"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                        - id: ITEM123fgd4vh5
                                          name: Item Name12hfdfdf345
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          net_amount: 200
                                          total_amount: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          description: Item Description 12345
                                          hsn_code: "1234"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                    payments:
                                        - amount: 100
                                          method: upi
                                          notes: Payment notes
                                          bank_details:
                                              account_number: "1234567890"
                                              ifsc: SBIN0000001
                                              bank_name: State Bank of India
                                              branch: Mumbai
                                    is_export: true
                                    export_invoice_details:
                                        shipping_bill_date: "27-08-2024"
                                        shipping_bill_number: ""
                                        shipping_port_code: ""
                                        export_type: SEZ without IGST Payment
                                        conversion_factor: 1
                                        country_id: United Kingdom
                                        currency_id: USD
                            convert_document:
                                value:
                                    document_type: sales_return
                                    document_date: "15-11-2024"
                                    party:
                                        id: "236"
                                        name: Vasu
                                        type: customer
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        email: johndoe@example.com
                                        company_name: Vason Company
                                        gstin: 36ACZPT7516P1ZA
                                        shipping_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 5-11, vema street
                                            address_line2: ""
                                            city: Hyderabad South East
                                            state: TELANGANA
                                            country: India
                                            pincode: "500030"
                                        billing_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 5-11, vema street
                                            address_line2: ""
                                            city: Hyderabad
                                            state: TELANGANA
                                            country: India
                                            pincode: "500032"
                                    due_date: "15-11-2024"
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ac_1.56
                                          name: Ac 1.56 Ton 5 Star
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          net_amount: 200
                                          total_amount: 236
                                          description: Item Description
                                          hsn_code: "04022910"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                    payments:
                                        - amount: 100.0
                                          method: upi
                                          notes: Payment notes
                                          bank_details:
                                              account_number: "1234567890"
                                              ifsc: SBIN0000001
                                              bank_name: State Bank of India
                                              branch: Mumbai
                                    convert:
                                        convert_from: invoice
                                        hash_id: SLxrwOh7QQnW
                            custom_fields:
                                value:
                                    document_type: invoice
                                    document_date: "15-11-2024"
                                    party:
                                        id: CUST123
                                        type: customer
                                        name: John Doe
                                        country_code: "91"
                                        phone_number: "1234567890"
                                        company_name: Company Name
                                        email: johndoe@example.com
                                        gstin: 27AARCS7202C1ZD
                                        shipping_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 123 Street
                                            address_line2: Apt 4B
                                            city: Hyderabad City
                                            state: TELANGANA
                                            country: India
                                            pincode: "500032"
                                        billing_address:
                                            addr_id: 1
                                            addr_id_v2: addr1
                                            address_line1: 123 Street
                                            address_line2: Apt 4B
                                            city: Hyderabad City
                                            state: TELANGANA
                                            country: India
                                            pincode: "500032"
                                    due_date: "15-11-2024"
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123455667ghg
                                          name: Item Namgergggree
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          net_amount: 200
                                          total_amount: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          description: Item Description
                                          hsn_code: "1234"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                          custom_columns:
                                              - label: Weight
                                                value: "1236"
                                        - id: ITEM123fgd4vh5
                                          name: Item Name12hfdfdf345
                                          quantity: 1
                                          unit_price: 200
                                          tax_rate: 18
                                          price_with_tax: 236
                                          net_amount: 200
                                          total_amount: 236
                                          discount_percent: 0
                                          discount_amount: 0
                                          description: Item Description 12345
                                          hsn_code: "1234"
                                          item_type: Product
                                          unit: kg
                                          category: Electronics
                                          custom_columns:
                                              - label: abcd
                                                value: "45"
                                              - label: Weight
                                                value: "1"
                                    payments:
                                        - amount: 100
                                          method: upi
                                          notes: Payment notes
                                          bank_details:
                                              account_number: "1234567890"
                                              ifsc: SBIN0000001
                                              bank_name: State Bank of India
                                              branch: Mumbai
                                    custom_headers:
                                        - label: JOB DATE
                                          value: xchj
                                        - label: "MASTER BL NO :"
                                          value: "1"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
            x-codegen-request-body-name: payload
    /v2/doc/list:
        get:
            tags:
                - Document V2
            summary: List of documents
            operationId: v2_get_transactions
            parameters:
                - name: document_type
                  in: query
                  required: true
                  schema:
                      type: string
                      default: invoice
                      enum:
                          - invoice
                          - purchase
                          - pro_forma_invoice
                          - estimate
                          - sales_return
                          - purchase_return
                          - delivery_challan
                          - purchase_order
                - name: start_date
                  in: query
                  description: "Start date for the list, [DD-MM-YYY]"
                  required: true
                  schema:
                      type: string
                      default: 01-01-2024
                - name: end_date
                  in: query
                  description: "End date for the list, [DD-MM-YYY]"
                  required: true
                  schema:
                      type: string
                      default: 31-12-2024
                - name: payment_status
                  in: query
                  description: Filter list based on payment status of the document.
                  schema:
                      type: string
                      default: all
                      enum:
                          - all
                          - pending
                          - paid
                          - cancelled
                - name: num_records
                  in: query
                  description: Number of records to fetch max(100)
                  schema:
                      type: string
                      default: "10"
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
                - name: customer_id
                  in: query
                  description: Customer ID
                  schema:
                      type: string
            responses:
                "200":
                    description: Documents List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListTransactionsV2"
                "400":
                    description: Error in fetching documents list
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocListErrorResponse"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocListErrorResponse"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocListErrorResponse"
    /v2/doc/pdf/{doc_hash_id}:
        get:
            tags:
                - Document V2
            summary: Get document PDF
            operationId: v2_get_pdf
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: File will be downloaded
                    content: {}
                "400":
                    description: Invalid Document Hash ID
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
    /v2/doc/{doc_hash_id}:
        get:
            tags:
                - Document V2
            summary: Get a document
            operationId: v2_get_invoice
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/GetInvoice"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "404":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
        put:
            tags:
                - Document V2
            operationId: v2_put_invoice
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash ID of the document that needs to be updated.
                  required: true
                  schema:
                      type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BaseDocumentEditV2"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocCreateResponseV2"
            x-codegen-request-body-name: payload
        delete:
            tags:
                - Document V2
            summary: Cancel a document
            operationId: v2_delete_invoice
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be cancelled
                  required: true
                  schema:
                      type: string
                - name: cancel_einvoice
                  in: query
                  description: Set to 1 if you want to cancel a document with e-invoice
                  schema:
                      type: integer
                      default: 0
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "400":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "404":
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/DocResponseV2"
    /v2/ewaybill/pdf/{doc_hash_id}:
        get:
            tags:
                - EwayBill
            summary: Get EwayBill PDF
            operationId: v2_eway_bill_get_pdf
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                "200":
                    description: File will be downloaded
                    content: {}
                "400":
                    description: Invalid Document Hash ID
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorEwayBill"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorEwayBill"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorEwayBill"
    /v2/ewaybill/{doc_hash_id}:
        post:
            tags:
                - EwayBill
            summary: Create Eway Bill
            operationId: v2_post_eway_bill
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document
                  required: true
                  schema:
                      type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/EwayBillModel"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SuccessResponseEwayBill"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorEwayBill"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorEwayBill"
                "500":
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ErrorEwayBill"
            x-codegen-request-body-name: payload
    /v2/payment:
        post:
            tags:
                - Payment V2
            summary: Record payment
            operationId: v2_post_payment
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RecordPayment"
                required: true
            responses:
                "200":
                    description: Payment recorded successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentResponseV2"
                "400":
                    description: Error in recording payment
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentResponseV2"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentResponseV2"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentResponseV2"
            x-codegen-request-body-name: payload
    /v2/payment/list:
        get:
            tags:
                - Payment V2
            summary: List of payments
            operationId: v2_get_timeline
            parameters:
                - name: start_date
                  in: query
                  description: "Start date for the list, [DD-MM-YYY]"
                  required: true
                  schema:
                      type: string
                      default: 01-01-2024
                - name: end_date
                  in: query
                  description: "End date for the list, [DD-MM-YYY]"
                  required: true
                  schema:
                      type: string
                      default: 31-12-2024
                - name: status
                  in: query
                  description: Filter list based on active status of the payment
                  required: true
                  schema:
                      type: string
                      default: success
                - name: num_records
                  in: query
                  description: Number of records to fetch
                  schema:
                      type: integer
                      default: 10
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                "200":
                    description: Payment details fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ListTransactions"
                "400":
                    description: Error in fetching payment details
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentListErrorResponse"
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentListErrorResponse"
                "500":
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/PaymentListErrorResponse"
    /v2/product:
        put:
            tags:
                - Product V2
            summary: Update an Item
            operationId: v2_put_product
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Item"
                required: true
            responses:
                "200":
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ProductResponseV2"
                "400":
                    description: Validation Error
[...]
