openapi: 3.0.1
info:
    title: SwipeAPI
    description: Partner API
    version: '1.0'
servers:
    - url: https://app.getswipe.in/api/partner
security:
    - bearerAuth: []
tags:
    - name: Document
      description: Document related operations
    - name: Customer
      description: Customer related operations
    - name: Payment
      description: Payment related operations
    - name: Product
      description: Product related operations
paths:
    /v1/customer:
        put:
            tags:
                - Customer
            summary: Update a customer
            operationId: put_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BaseCustomer'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
            x-codegen-request-body-name: payload
        post:
            tags:
                - Customer
            summary: Add a customer
            operationId: post_customer
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BaseCustomer'
                required: true
            responses:
                '201':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
            x-codegen-request-body-name: payload
    /v1/customer/ledger:
        get:
            tags:
                - Customer
            summary: Get payment ledger
            operationId: get_customer_ledger
            parameters:
                - name: start_date
                  in: query
                  description: 'Start date for the ledger, [DD-MM-YYY]'
                  required: true
                  schema:
                      type: string
                      default: 01-01-2024
                - name: end_date
                  in: query
                  description: 'End date for the ledger, [DD-MM-YYY]'
                  required: true
                  schema:
                      type: string
                      default: 31-12-2024
                - name: customer_id
                  in: query
                  description: Customer ID
                  required: true
                  schema:
                      type: string
                - name: num_records
                  in: query
                  description: Number of records to fetch
                  schema:
                      type: integer
                      default: 10
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                '200':
                    description: Payment details fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Payment_GET_Response'
                '400':
                    description: Error in fetching payment details
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
    /v1/customer/list:
        get:
            tags:
                - Customer
            summary: Get list of customers
            operationId: get_customer_list
            parameters:
                - name: num_records
                  in: query
                  description:
                      "Number of records to fetch, deafult : all customers will be\
                      \ sent in response"
                  schema:
                      type: integer
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                '200':
                    description: Customer List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListGETResponse'
                '400':
                    description: Error in fetching Customer List
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
        post:
            tags:
                - Customer
            summary: Update customer mapping
            operationId: post_customer_list
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ListCustomerMapModel'
                required: true
            responses:
                '200':
                    description: Updated successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Error in mapping Customer List
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '409':
                    description: Error in mapping Customer List
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListCustomerMapErrorModel'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
            x-codegen-request-body-name: payload
    /v1/customer/{customer_id}:
        get:
            tags:
                - Customer
            summary: Get a customer
            operationId: get_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GET_Response'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '404':
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
        delete:
            tags:
                - Customer
            summary: Delete a customer
            operationId: delete_customer
            parameters:
                - name: customer_id
                  in: path
                  description: The customer ID to be deleted
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerResponse'
                '400':
                    description: Customer not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CustomerError'
    /v1/doc:
        post:
            tags:
                - Document
            summary: Create a document
            operationId: post_invoice_resource
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BaseDocument'
                        examples:
                            basic:
                                value:
                                    document_type: invoice
                                    document_date: '01-04-2024'
                                    customer:
                                        id: cus123
                                        name: Charan Cus
                                    items:
                                        - id: p123
                                          name: Book
                                          item_type: goods
                                          quantity: 1
                                          unit_price: 100
                                          tax_rate: 18
                                          price_with_tax: 118
                                          net_amount: 100
                                          total_amount: 118
                            advanced:
                                value:
                                    document_type: invoice
                                    document_date: '11-06-2024'
                                    customer:
                                        id: CUST123
                                        name: John Doe
                                        country_code: '91'
                                        phone_number: '1234567890'
                                        email: johndoe@example.com
                                    due_date: '11-06-2024'
                                    reference: Reference Text
                                    notes: Notes for the document
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123
                                          name: Item Name
                                          quantity: 10
                                          unit_price: 100
                                          tax_rate: 18
                                          cess_rate: 10
                                          price_with_tax: 128
                                          tax_amount: 252
                                          discount_percent: 10
                                          discount_amount: 100
                                          net_amount: 900
                                          total_amount: 1152
                                          description: Item Description
                                          hsn_code: '1234'
                                          item_type: goods
                                          unit: kg
                                          category: Electronics
                                    extra_discount: 20
                                    round_off: 0
                                    payments:
                                        - amount: 100
                                          method: upi
                                          notes: Payment notes
                                    bank_details:
                                        account_number: '1234567890'
                                        bank_name: Example Bank
                                        branch: Main Branch
                                        ifsc: IFSC0001234
                                    company_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: City Name
                                        state: State Name
                                        country: Country Name
                                        pincode: '123456'
                                    customer_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: City Name
                                        state: State Name
                                        country: Country Name
                                        pincode: '123456'
                            subscription:
                                value:
                                    document_type: subscription
                                    document_date: 11-06-2024
                                    customer:
                                        id: CUST1
                                        name: Charan
                                        country_code: '91'
                                        phone_number: '8768906785'
                                        email: charanrockstar@gmail.com
                                    due_date: 11-06-2024
                                    reference: Example Subcsription for API's
                                    notes: Example Note
                                    terms: Terms and Conditions
                                    items:
                                        - id: ITEM123
                                          name: Item Name
                                          quantity: 10
                                          unit_price: 100
                                          tax_rate: 18
                                          cess_rate: 10
                                          price_with_tax: 128
                                          tax_amount: 252
                                          discount_percent: 10
                                          discount_amount: 100
                                          net_amount: 900
                                          total_amount: 1152
                                          description: Item Description
                                          hsn_code: '1234'
                                          item_type: goods
                                          unit: kg
                                          category: Electronics
                                    extra_discount: 20
                                    round_off: 0
                                    bank_details:
                                        account_number: '1234567890'
                                        bank_name: Example Bank
                                        branch: Main Branch
                                        ifsc: IFSC0001234
                                    company_shipping_address:
                                        address_line1: 123 Street
                                        address_line2: Apt 4B
                                        city: City Name
                                        state: State Name
                                        country: Country Name
                                        pincode: '123456'
                                    customer_shipping_address:
                                        address_line1: C/o Swipe
                                        address_line2: Red Steert 40
                                        city: Kansar
                                        state: Kansar
                                        country: India
                                        pincode: '000007'
                                    is_subscription: true
                                    subscription_details:
                                        start_time: 13-06-2024
                                        end_time: 14-07-2024
                                        repeat: 1
                                        repeat_type: days
                                        send_email: true
                                        send_sms: true
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SuccessResponse'
                '400':
                    description: Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '500':
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
            x-codegen-request-body-name: payload
    /v1/doc/pdf/{doc_hash_id}:
        get:
            tags:
                - Document
            summary: Get document PDF
            operationId: get_pdf
            parameters:
                - name: doc_hash_id
                  in: path
                  description: The hash id of the document to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: File will be downloaded
                    content: {}
                '400':
                    description: Invalid Document Hash ID
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
                '500':
                    description: Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
    /v1/payment:
        post:
            tags:
                - Payment
            summary: Record payment
            operationId: post_payment
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RecordPayment'
                required: true
            responses:
                '200':
                    description: Payment recorded successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PaymentResponse'
                '400':
                    description: Error in recording payment
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PaymentError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PaymentError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PaymentError'
            x-codegen-request-body-name: payload
    /v1/product:
        put:
            tags:
                - Product
            summary: Update a Item
            operationId: put_product
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Item'
                required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProdductResponse'
                '400':
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
            x-codegen-request-body-name: payload
        post:
            tags:
                - Product
            summary: Add an Item
            operationId: post_product
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Item'
                required: true
            responses:
                '201':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProdductResponse'
                '400':
                    description: Validation Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
            x-codegen-request-body-name: payload
    /v1/product/list:
        get:
            tags:
                - Product
            summary: Get list of items
            operationId: get_item_list
            parameters:
                - name: num_records
                  in: query
                  description:
                      "Number of records to fetch, deafult : all items will be sent\
                      \ in response"
                  schema:
                      type: integer
                - name: page
                  in: query
                  description: Page number
                  schema:
                      type: integer
                      default: 1
            responses:
                '200':
                    description: Item List fetched successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListGETResponse'
                '400':
                    description: Error in fetching Item List
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
        post:
            tags:
                - Product
            summary: Update items mapping
            operationId: post_item_list
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ListItemMapModel'
                required: true
            responses:
                '200':
                    description: Updated successfully
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProdductResponse'
                '400':
                    description: Error in mapping Item List
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '409':
                    description: Error in mapping Item List
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListItemMapErrorModel'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
            x-codegen-request-body-name: payload
    /v1/product/{item_id}:
        get:
            tags:
                - Product
            summary: Get a Item Details
            operationId: get_product
            parameters:
                - name: item_id
                  in: path
                  description: Item ID to be fetched
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GET_Response'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '404':
                    description: Item not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '500':
                    description: Internal Server Error
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
        delete:
            tags:
                - Product
            summary: Delete a Item
            operationId: delete_product
            parameters:
                - name: item_id
                  in: path
                  description: The item ID to be deleted
                  required: true
                  schema:
                      type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProdductResponse'
                '400':
                    description: Item not found
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
                '401':
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ProductError'
components:
    schemas:
        Error:
            type: object
            properties:
                success:
                    type: boolean
                    example: false
                    default: false
                error_code:
                    type: string
                    description: Error Code
                    example: INVALID_HASH_ID
                message:
                    type: string
                    description: Error message
                    example: Some error occurred
                errors:
                    type: object
                    properties: {}
                    description: Error details
        BaseDocument:
            required:
                - customer
                - document_date
                - document_type
                - items
            type: object
            properties:
                document_type:
                    type: string
                    description: Value should always be the string 'invoice'
                    example: invoice
                    enum:
                        - invoice
                        - subscription
                document_date:
                    type: string
                    description:
                        "DD-MM-YYYY, Invoice date (Ex: 11-06-2024 Need not to the current\
                        \ date)"
                    example: 11-06-2024
                customer:
                    type: object
                    description: Customer
                    allOf:
                        - $ref: '#/components/schemas/Customer'
                due_date:
                    type: string
                    description: 'DD-MM-YYYY, Payment Due date for the invoice (Ex: 11-06-2024)'
                    example: 11-06-2024
                reference:
                    type: string
                    description: Any references you want to add to the doc
                    example: Reference Text
                notes:
                    type: string
                    description: Notes to show in invoice
                    example: Notes for the document
                terms:
                    type: string
                    description: Terms to show in invoice
                    example: Terms and Conditions
                items:
                    type: array
                    description: 'Array of Products/Services, refer Item Object below for parameters'
                    items:
                        $ref: '#/components/schemas/DocItem'
                extra_discount:
                    type: number
                    description: 'Adjustment on overall invoice, doesn’t effect any tax amounts.'
                    example: 20.0
                round_off:
                    type: boolean
                    description: Should Round Off total amount
                    example: true
                    default: false
                payments:
                    type: array
                    description: 'Array of Payments, refer Payment Object for parameters'
                    items:
                        $ref: '#/components/schemas/Payment'
                bank_details:
                    type: object
                    description:
                        "Bank Details, refer Bank Details Object below for parameters,\
                        \ If account_number, ifsc matched with existing bank details, it will\
                        \ be used, else new bank details will be added to your swipe account"
                    allOf:
                        - $ref: '#/components/schemas/BankDetails'
                company_shipping_address:
                    type: object
                    description:
                        "Company shipping from Address, refer Shipping Address Object\
                        \ for parameters"
                    allOf:
                        - $ref: '#/components/schemas/ShippingAddress'
                customer_shipping_address:
                    type: object
                    description:
                        "Customer shipping to Address, refer Shipping Address Object\
                        \ for parameters"
                    allOf:
                        - $ref: '#/components/schemas/ShippingAddress'
                customer_billing_address:
                    type: object
                    description:
                        "Customer billing to Address, refer Shipping Address Object\
                        \ for parameters"
                    allOf:
                        - $ref: '#/components/schemas/ShippingAddress'
                is_subscription:
                    type: boolean
                    description: Is Subscription
                    example: false
                subscription_details:
                    type: object
                    description: Subscription Details
                    allOf:
                        - $ref: '#/components/schemas/Subscription'
        Customer:
            required:
                - id
                - name
            type: object
            properties:
                id:
                    type: string
                    description: |-
                        Unique id for each customer. If a new id  is sent, a new Customer with the below details will be automatically created.
                                                                              If existing Customer id is sent the details will not override the original customer details.
                                                                              They will be applicable only to the current invoice
                    example: CUST123
                name:
                    type: string
                    description: Name of the Customer
                    example: John Doe
                country_code:
                    type: string
                    description: Customer Phone Number Country code
                    example: '91'
                phone_number:
                    type: string
                    description: Customer Phone Number
                    example: '1234567890'
                company_name:
                    type: string
                    description: Company Name
                    example: Company Name
                email:
                    type: string
                    description: Customer Email
                    example: johndoe@example.com
                gstin:
                    type: string
                    description: GSTIN
                    example: 27AARCS7202C1ZD
        DocItem:
            required:
                - id
                - item_type
                - name
                - net_amount
                - price_with_tax
                - quantity
                - total_amount
                - unit_price
            type: object
            properties:
                id:
                    type: string
                    description:
                        "Unique id for each item. If a new id  is sent, a new Item\
                        \ with the below details will be automatically created. if existing Item\
                        \ id is sent the details will not override the original item details.\
                        \ They will be applicable only to the current invoice"
                    example: ITEM123
                name:
                    type: string
                    description: Name of the Product
                    example: Item Name
                quantity:
                    type: number
                    description: Quantity
                    example: 1.0
                unit_price:
                    type: number
                    description: Price per item without Tax
                    example: 100.0
                tax_rate:
                    type: number
                    description: Tax percentage for each item . Only valid tax rates are accepted
                    example: 18.0
                price_with_tax:
                    type: number
                    description: Price per item with Tax
                    example: 118.0
                net_amount:
                    type: number
                    description: Net Amount
                    example: 100.0
                total_amount:
                    type: number
                    description: Item total amount (Net Amount + Tax)
                    example: 118.0
                discount_percent:
                    type: number
                    description: Discount Percent
                    example: 10.0
                discount_amount:
                    type: number
                    description: 'Discount Amount, will be ignored if discount_percent is provided'
                    example: 10.0
                description:
                    type: string
                    description: Item Description
                    example: Item Description
                hsn_code:
                    type: string
                    description: HSN Code
                    example: '1234'
                item_type:
                    type: string
                    description: Goods or Services enum
                    example: goods
                    enum:
                        - goods
                        - service
                unit:
                    type: string
                    description: item quantity unit
                    example: kg
                    enum:
                        - kg
                        - g
                        - l
                        - ml
                        - m
                        - cm
                        - sqm
                        - sqcm
                        - sqft
                        - sqkm
                        - unit
                category:
                    type: string
                    description: Category
                    example: Electronics
        Payment:
            required:
                - amount
                - method
            type: object
            properties:
                amount:
                    type: number
                    description: Payment Amount
                    example: 100.0
                method:
                    type: string
                    description: 'Payment method, use only specified values'
                    example: upi
                    enum:
                        - cash
                        - card
                        - upi
                        - netBanking
                        - check
                        - emi
                notes:
                    type: string
                    description: Any internal notes for payment
                    example: Payment notes
        BankDetails:
            required:
                - account_number
                - bank_name
                - branch
                - ifsc
            type: object
            properties:
                account_number:
                    type: string
                    description: Account Number
                    example: '1234567890'
                ifsc:
                    type: string
                    description: IFSC Code
                    example: SBIN0000001
                bank_name:
                    type: string
                    description: Bank Name
                    example: State Bank of India
                branch:
                    type: string
                    description: Branch
                    example: Mumbai
        ShippingAddress:
            required:
                - address_line1
                - address_line2
                - city
                - country
                - pincode
                - state
            type: object
            properties:
                address_line1:
                    type: string
                    description: Address Line 1
                    example: 123 Street
                address_line2:
                    type: string
                    description: Address Line 2
                    example: Apt 4B
                city:
                    type: string
                    description: City
                    example: City Name
                state:
                    type: string
                    description: State
                    example: State Name
                country:
                    type: string
                    description: Country
                    example: Country Name
                pincode:
                    type: string
                    description: Pincode
                    example: '123456'
        Subscription:
            type: object
            properties:
                start_time:
                    type: string
                    description: 'Start Time [DD-MM-YYY]'
                    format: date
                    example: 0016-12-14
                end_time:
                    type: string
                    description: 'End Time [DD-MM-YYY]'
                    format: date
                    example: 0016-12-14
                repeat:
                    type: integer
                    description: 'Repeat in value, Frequency of the repetition '
                    example: 1
                repeat_type:
                    type: string
                    description: 'Repeat type, Entity of the repetition'
                    example: days
                    enum:
                        - days
                        - weeks
                        - months
                        - years
                send_email:
                    type: boolean
                send_sms:
                    type: boolean
        SuccessResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success
                    example: true
                message:
                    type: string
                    description: Message
                    example: Document created successfully
                serialNumber:
                    type: string
                    description: Serial Number
                    example: SL123
                hashId:
                    type: string
                    description: Hash ID
                    example: SL123
        BaseCustomer:
            required:
                - name
            type: object
            properties:
                customer_id:
                    type: string
                    description: Your Customer ID
                    example: '123'
                name:
                    type: string
                    description: Customer name
                    example: TATA RATAN
                phone:
                    type: string
                    description: Phone number
                    example: '1234567890'
                email:
                    type: string
                    description: Email address
                    example: reddi@reddi.reddi
                discount:
                    type: integer
                    description: Discount
                    example: 10
                gstin:
                    pattern: '^(|[0-9A-Z]{15})$'
                    type: string
                    description: GSTIN
                    example: 27AARCS7202C1ZD
                company_name:
                    type: string
                    description: Company name
                    example: GSTN
                opening_balance:
                    type: string
                    description: Opening balance
                    example: '1245'
                credit_limit:
                    type: integer
                    description: Credit limit
                    example: 200
                billing_address:
                    type: array
                    description: List of billing addresses
                    items:
                        $ref: '#/components/schemas/Address'
                shipping_address:
                    type: array
                    description: List of shipping addresses
                    items:
                        $ref: '#/components/schemas/Address'
                opening_balance_type:
                    type: integer
                    description: 'Credit[0] / Debit[1]'
                    example: 1
                dial_code:
                    type: string
                    description: Dial code
                    example: '91'
                profile_image:
                    type: string
                    description: Profile image URL
                    example: ''
                pan:
                    type: string
                    description: PAN
                    example: ABCD1234F
                notes:
                    type: string
                    description: Notes
                    example: Testing api
                cc_emails:
                    type: string
                    description: CC email addresses
                    example: 'reddi@reddi.reddi,acb.a@bcd.con'
                status:
                    type: string
                    description: Status
                    example: Active
        Address:
            type: object
            properties:
                line1:
                    type: string
                    description: Address line 1
                    example: ''
                line2:
                    type: string
                    description: Address line 2
                    example: ''
                pincode:
                    type: string
                    description: Pincode
                    example: '500075'
                city:
                    type: string
                    description: City
                    example: ''
                state1:
                    type: string
                    description: State code
                    example: ''
                state:
                    type: string
                    description: State code
                    example: ''
        CustomerError:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: false
                error_code:
                    type: string
                    description: Error Code
                    example: INVALID_CUSTOMER_ID
                message:
                    type: string
                    description: Response message
                    example: Error Message
                errors:
                    type: object
                    properties: {}
                    description: Validation errors
                    example: List of errors
        CustomerResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                message:
                    type: string
                    description: Response message
                    example: Customer added successfully
        GET_Response:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                item:
                    $ref: '#/components/schemas/Item'
        Item:
            required:
                - id
                - item_type
                - name
                - price_with_tax
                - quantity
                - unit_price
            type: object
            properties:
                id:
                    type: string
                    description: Unique id for each item.
                    example: ITEM123
                name:
                    type: string
                    description: Name of the Product
                    example: Item Name
                quantity:
                    type: number
                    description: Opening Quantity
                    example: 1.0
                unit_price:
                    type: number
                    description: Price per item without Tax
                    example: 100.0
                tax_rate:
                    type: number
                    description: Tax percentage for each item . Only valid tax rates are accepted
                    example: 18.0
                price_with_tax:
                    type: number
                    description: Price per item with Tax
                    example: 118.0
                discount_percent:
                    type: number
                    description: Default Discount Percent
                    example: 10.0
                description:
                    type: string
                    description: Item Description
                    example: Item Description
                hsn_code:
                    type: string
                    description: HSN Code
                    example: '1234'
                item_type:
                    type: string
                    description: Goods or Services enum
                    example: goods
                    enum:
                        - goods
                        - service
                unit:
                    type: string
                    description: item quantity unit
                    example: kg
                    enum:
                        - kg
                        - g
                        - l
                        - ml
                        - m
                        - cm
                        - sqm
                        - sqcm
                        - sqft
                        - sqkm
                        - unit
                category:
                    type: string
                    description: Category
                    example: Electronics
                status:
                    type: string
                    description: Status of the Item
                    example: Active
        Payment_GET_Response:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                ledger:
                    type: array
                    items:
                        $ref: '#/components/schemas/LedgerRecord'
                closing_balance:
                    type: number
                    description: Closing Balance
                    example: 100.0
                is_paid:
                    type: boolean
                    description: Is Fully paid
                    example: true
                total_records:
                    type: integer
                    description: Total Records available
                    example: 10
        LedgerRecord:
            type: object
            properties:
                serial_number:
                    type: string
                    description: Serial Number
                    example: PAYIN-2
                total_amount:
                    type: number
                    description: Total Amount
                    example: 100.0
                amount_pending:
                    type: number
                    description: Amount pending
                    example: 0.0
                balance:
                    type: number
                    description: Balance as of this record
                    example: -16795.8
                date:
                    type: string
                    description: Payment Date
                    example: 13-06-2024
                mode:
                    type: string
                    description: Payment Mode
                    example: UPI
                bank_details:
                    $ref: '#/components/schemas/BankDetails'
                created_time:
                    type: string
                    description: 'Created Time of the Payment [YYYY-MM-DD HH:MM:SS] GMT '
                    example: 2024-06-13 10:08:13
                notes:
                    type: string
                    description: Notes
                    example: ''
                status:
                    type: string
                    description: Payment Status
                    example: Success
        ListCustomerMapModel:
            required:
                - customer_mapping
            type: object
            properties:
                customer_mapping:
                    type: array
                    items:
                        $ref: '#/components/schemas/CustomerMapModel'
        CustomerMapModel:
            required:
                - customer_id
                - swipe_id
            type: object
            properties:
                customer_id:
                    type: string
                    description: Customer ID
                swipe_id:
                    type: string
                    description: Swipe ID
                    example: '1'
                force_update:
                    type: boolean
                    description:
                        "Updates even if the customer id is already mapped with other\
                        \ swipe id, no customer details will be updated"
                    example: true
        ListCustomerMapErrorModel:
            type: object
            properties:
                success:
                    type: boolean
                    example: false
                customer_mapping:
                    type: array
                    items:
                        $ref: '#/components/schemas/CustomerMapModel'
                duplicate_customer_ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/CustomerMapModel'
                duplicate_swipe_ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/CustomerMapModel'
                not_found_swipe_ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/CustomerMapModel'
                message:
                    type: string
                    example: Customer ID already mapped !
        ListGETResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                items:
                    type: array
                    items:
                        $ref: '#/components/schemas/ItemList'
                total_records:
                    type: integer
                    description: Total Records available
                    example: 10
        ItemList:
            required:
                - id
                - item_type
                - name
                - price_with_tax
                - quantity
                - unit_price
            type: object
            properties:
                id:
                    type: string
                    description:
                        "Unique id for each item. If a new id  is sent, a new Item\
                        \ with the below details will be automatically created. if existing Item\
                        \ id is sent the details will not override the original item details.\
                        \ They will be applicable only to the current invoice"
                    example: ITEM123
                name:
                    type: string
                    description: Name of the Product
                    example: Item Name
                quantity:
                    type: number
                    description: Current Quantity
                    example: 1.0
                unit_price:
                    type: number
                    description: Price per item without Tax
                    example: 100.0
                tax_rate:
                    type: number
                    description: Tax percentage for each item . Only valid tax rates are accepted
                    example: 18.0
                price_with_tax:
                    type: number
                    description: Price per item with Tax
                    example: 118.0
                discount_percent:
                    type: number
                    description: Default Discount Percent
                    example: 10.0
                description:
                    type: string
                    description: Item Description
                    example: Item Description
                hsn_code:
                    type: string
                    description: HSN Code
                    example: '1234'
                item_type:
                    type: string
                    description: Goods or Services enum
                    example: goods
                    enum:
                        - goods
                        - service
                unit:
                    type: string
                    description: item quantity unit
                    example: kg
                category:
                    type: string
                    description: Category
                    example: Electronics
                swipe_id:
                    type: string
                    description: Swipe ID assigned to the item
                    example: '1'
        RecordPayment:
            required:
                - amount
                - customer
                - payment_date
                - payment_mode
            type: object
            properties:
                amount:
                    type: number
                    description: Amount to be paid
                    example: 27.0
                payment_date:
                    type: string
                    description: 'Payment date [DD-MM-YYY]'
                    example: 13-06-2024
                bank_details:
                    $ref: '#/components/schemas/BankDetails'
                payment_mode:
                    type: string
                    description: Payment mode
                    example: UPI
                    enum:
                        - Cash
                        - Cheque
                        - UPI
                        - Card
                        - Net Banking
                        - paylater
                        - cardless_emi
                        - EMI
                        - TDS
                        - Credits
                notes:
                    type: string
                    description: 'Notes, will be shared with the customer'
                    example: ''
                send_sms:
                    type: boolean
                    description: 'Send SMS, customer will be notified through SMS'
                    example: true
                send_email:
                    type: boolean
                    description: 'Send Email, customer will be notified through Email'
                    example: true
                exclusive_notes:
                    type: string
                    description: Exclusive Notes for internal purpose
                    example: ''
                customer:
                    type: string
                    description: Customer ID
                    example: CUST123
                documents:
                    type: array
                    description: 'Documents to be settled, if any'
                    example:
                        - amount_paying: 27
                          hash_id: SLascded
                    items:
                        $ref: '#/components/schemas/DocumentsList'
        DocumentsList:
            required:
                - amount_paying
                - hash_id
            type: object
            properties:
                amount_paying:
                    type: number
                    description: Amount to be settled for the document
                    example: 27.0
                hash_id:
                    type: string
                    description: Document Hash ID
                    example: SLascded
        PaymentError:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: false
                message:
                    type: string
                    description: Response message
                    example: Error Message
                error_code:
                    type: string
                    description: Error Code
                    example: HASH_ID_MISSING
                errors:
                    type: object
                    properties: {}
                    description: Validation errors
                    example:
                        customer_id: Invalid ID.
        PaymentResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                message:
                    type: string
                    description: Response message
                    example: Payment Recorded successfully
        ProductError:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: false
                error_code:
                    type: string
                    description: Error Code
                    example: INVALID_PRODUCT_ID
                message:
                    type: string
                    description: Response message
                    example: Error Message
                errors:
                    type: object
                    properties: {}
                    description: Validation errors
                    example: List of errors
        ProdductResponse:
            type: object
            properties:
                success:
                    type: boolean
                    description: Success flag
                    example: true
                message:
                    type: string
                    description: Response message
                    example: Product added successfully
        ListItemMapModel:
            required:
                - item_mapping
            type: object
            properties:
                item_mapping:
                    type: array
                    items:
                        $ref: '#/components/schemas/ItemMapModel'
        ItemMapModel:
            required:
                - item_id
                - swipe_id
            type: object
            properties:
                item_id:
                    type: string
                    description: Item ID
                swipe_id:
                    type: string
                    description: Swipe ID
                    example: '1'
                force_update:
                    type: boolean
                    description:
                        "Updates even if the item id is already mapped with other swipe\
                        \ id, no item details will be updated"
                    example: true
        ListItemMapErrorModel:
            type: object
            properties:
                success:
                    type: boolean
                    example: false
                item_mapping:
                    type: array
                    items:
                        $ref: '#/components/schemas/ItemMapModel'
                duplicate_item_ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/ItemMapModel'
                duplicate_swipe_ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/ItemMapModel'
                not_found_swipe_ids:
                    type: array
                    items:
                        $ref: '#/components/schemas/ItemMapModel'
                message:
                    type: string
                    example: Item ID already mapped !
    responses:
        ParseError:
            description: When a mask can't be parsed
            content: {}
        MaskError:
            description: When any error occurs on mask
            content: {}
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
x-original-swagger-version: '2.0'
